%h1 New category
- action = "/categories" + (@category.new_record? ? "" : "/#{@category.id}")
%form(action="#{action}" method="post")
  - if @errors
    #message= @category.errors.full_messages
  %ul
    %li
      %label(for="category-name") Name
      %input(type="text" name="category[name]" id="category-name" value="#{@category.name}")
  %input(type="submit")