
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 860px;
	height:250px;

	/* custom decorations */
	border:1px solid #ccc;
/*  background:url(/images/h300.png) repeat-x;*/
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
	margin-top: 10px;
}

.items div {
	float:left;
	width:860px;
}

/* single scrollable item */
.scrollable .item {
  width: 139px;
  float:left;
  text-align: center; 
  padding: 0px 4px 0px 0px;
  font-size: 11px;
/*  margin: 0px 10px 5px 10px;*/

/*  float:left;*/
/*  margin:20px 5px 20px 21px;*/
/*  background-color:#fff;*/
/*  padding:2px;*/
/*  border:1px solid #ccc;*/
/*  width:100px;*/
/*  height:75px;*/
	
/*  -moz-border-radius:4px;*/
/*  -webkit-border-radius:4px;*/
}

.scrollable .item img {
  width: 95px;
/*  height: 187px;*/
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}




/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(/images//hori_large.png) no-repeat;
  display:inline;
  width:15px;
  height:15px;
/*  float:left;*/
/*  margin:40px 10px;*/
/*  margin-top: -7px;*/
  
	cursor:pointer;
  font-size:1px;
  position: fixed;
}

/* right */
a.right 				{ background-position: 0 -15px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-15px -15px; }
a.right:active 	{ background-position:-30px -15px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-15px 0; }
a.left:active  	{ background-position:-30px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(/images/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	
